html, body {
    background-color: #C3E2C2;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;

}


.header {
 margin: 10% 0 10% 0;
 align-items: center;
 text-align: center;
}


#header-title {
    font-family: "archivo black", "sans-serif";
    font-size: 5em;
    letter-spacing: 14px;
    align-items: center;
}

#header-subtitle {
    font-family: "archivo black", "sans-serif";
    font-size: 2em;
    letter-spacing: 10px;
}










/* MEDIA QUERIES */



@media screen and (max-width: 600px) {}
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    

    #header-title {
        font-size: 5em;
            }
    #header-subtitle {
        font-size: 1.5em;
        letter-spacing: 10px;
    }
    
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .header {
            margin-top: 20%;
        }
        #header-title {
            font-size: 3em;
        }
        #header-subtitle {
            font-size: 1.3em;
            letter-spacing: 2px;
        }
    
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        #header-title {
            font-size: 3em;
        }
        
        #header-subtitle {
            font-size: 1.5em;
            letter-spacing: 10px;
        }
    
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {

        #header-title {
            font-size: 3em;
        }
        #header-subtitle {
            font-size: 1.5em;
            letter-spacing: 10px;
        }
    
    
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .header {
            margin: 10% 0 10% 0;
        }
        #header-title {
            font-size: 7em;
        }
        #header-subtitle {
            font-size: 2em;
            letter-spacing: 7px;
        }
    
    
    }
