html, body {
    background-color: #C3E2C2;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: x-large;

}


.header {
 margin: 10% 0 10% 0;
 align-items: center;
 text-align: center;
}


#header-title {
    font-family: "archivo black", "sans-serif";
    font-size: 5em;
    letter-spacing: 14px;
    align-items: center;
}

#header-subtitle {
    font-family: "archivo black", "sans-serif";
    font-size: 2em;
    letter-spacing: 10px;
}

